# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.env/
.envrc
*.env

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py

# If using migrations
**/migrations/__pycache__/
**/migrations/*.py[cod]
**/migrations/*.py

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.cache

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# Docker
*.pid
*.pid.lock

# Node (si usas frontend con npm/webpack)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
build/
*.egg-info/

# Secret keys or config files (añádelos si los usas)
secrets.json
config.json

